/.cache/
/.clangd/
/.venv/
/build/
/build.*/
/build-*/
/subprojects/*
!/subprojects/packagefiles/
!/subprojects/nanobench.wrap
!/subprojects/mio.wrap
!/subprojects/gtl.wrap
!/subprojects/linenoise.wrap
!/subprojects/pugixml.wrap
!/subprojects/fmt.wrap
*.autogen.*
/private/
/.vscode/
/assets/*
!/assets/pull.sh
!/assets/local/
/include/vs-xml/config.hpp