name: Deploy Docs

on:
  workflow_call:
    inputs:
      subdir:
        type: string
        required: false
        default: "next"
jobs:
  build-deploy:
    permissions:
      contents: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Build
        run: |
          sudo apt install -y \
            doxygen \
            graphviz \
            python3-pip \
            python3-setuptools
          python3 -m pip install mkdocs mkdocs-material mkdocs-github-admonitions-plugin mkdocs-get-deps pymdown-extensions mdx_truly_sane_lists
          doxygen ./dist/configs/Doxyfile
          mkdocs build -f ./dist/configs/mkdocs.yml
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/website
          destination_dir: ${{ inputs.subdir }}
